/* Room.css */

.room-container {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

#home{
  font-size: large;
  margin-top: auto;
  margin-bottom: auto;
}

#roomDetails {
  display: flex;
  /* align-items: center; */
  margin-left: auto;
  margin-right: auto;
  width: 100%;
}

#roomName {
  text-align: left;
  margin-left: auto;
}

#shareRoomBnt {
  margin-left: auto;
  margin-right: 10%;
  margin-top: auto;
  margin-bottom: auto;
}


.chat-container {
  margin-top: 5vh;
  padding-top: 5vh;
}

.chat {
  flex: 3;
  display: flex;
  flex-direction: column;
  overflow-y: auto;
  /* Added */
}

.messages {
  flex: 1;
  overflow-y: auto;
  padding: 20px;
  flex-direction: column-reverse;
  /* Added */
}

.message {
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 5px;
  padding: 10px;
  margin-bottom: 10px;
}

.message p {
  margin: 0;
}

.message span {
  font-size: 14px;
  color: #888;
}

#message-spacer {
  height: 9vh;
}

.input-container {
  display: flex;
  align-items: center;
  align-self: center;
  padding: 10px;
  position: fixed;
  width: 80%;
  border: .1px solid rgb(134, 134, 134);
  border-radius: 5px;
  bottom: 3vh;
  /* Align to the right */
  background-color: #ffffff;
  /* Set background color */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  /* Add box shadow */
  z-index: 1000;
  /* Ensure it's above other content */
  font-size: large;
}

.input-container input {
  flex: 1;
  padding: 10px;
  border: 1px solid #ffffff;
  border-radius: 5px;
  margin-right: 10px;
  height: 80%;
  font-size: large;
}

#send-btn{
  color: #007bff;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  font-size: large;
}

.input-container button {
  background-color: #007bff;
  color: #fff;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  font-size: large;
}

input:focus {

  outline: none !important;
}

#send-btn:hover {
  color: #007bff;
  cursor: pointer;
}


.message {
  width: 80%;
  /* Adjust the width of messages */
}

#sent {
  text-align: right;
  background-color: #007009;
  color: white;
  /* Example color for sent messages */
  margin-left: auto;
}

#received {
  text-align: left;
  background-color: #F0F0F0;
  /* Example color for received messages */
  margin-left: auto;
}
